canvas { 
    border: 1px solid #ccc; 
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px #000000;
}

#paint{
    float:left;
}

body{
    background-color:  #222222;
}

#chatBox{
    float: right;
    margin: 20px;
}

#chooseColor{
    color: #ccc;   
    margin-top: 10px; 
}

#messageField{
    border-radius: 5px;
    padding: 15px;
    width: 70%;
    font-size: 20px;
}

#text{
    padding: 5px;
    border-radius: 5px;
}

#chatWindow{
    overflow: auto;
    padding-bottom: 5px;
}

#messageButton{
    margin-left: 20px;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    color: #ffffff;
    background-color: #111111;
}

#messageButton:hover{
    background-color: #000000;
}

#registerContainer{
    display: block;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#registerBox{
    margin: 5% auto 15% auto;
    width: 200px;
    background-color: #fefefe;
    padding: 25px;
    border-radius: 5px;
}

#registerButton{
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;   
    cursor: pointer;
    background-color: #1e1e1e;
    color: #fefefe;
}

#registerButton:hover{
    background-color: #0f0f0f;
}

#registerBox input[type=text]{
    width: 100%;
}

#wholeContainer{
    display: none;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in {
  opacity: 0;
  animation: fadeIn .5s ease-in 1 forwards;
}

#registerBox input[type=text]{
    margin-top: 5;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 60%;
}

#registerBox input[type=text]:focus{
    width: 100%;
}